/* errors */
.woocs .notice--error {
  border-left-color: #dc3232;
}

.woocs .notice--success {
  border-left-color: #43bc71;
}

.woocs .notice--warning {
  border-left-color: #ff9000;
}

.woocs .notice--info {
  border-left-color: #00a0d2;
}
